
# Created by https://www.gitignore.io/api/macos

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# End of https://www.gitignore.io/api/macos

# debug file
_site
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/moment-NEW.github.io/FileContentIndex/580212b0-3646-44f8-bba2-9fb1e67b2d55.vsidx
.vs/moment-NEW.github.io/v17/.wsuo
.vs/moment-NEW.github.io/v17/DocumentLayout.backup.json
.vs/moment-NEW.github.io/v17/DocumentLayout.json
